In [1]:
import numpy as np
import geopandas
import matplotlib
import pandas as pd
import json
import contextily
import matplotlib.pyplot as plt
import geoplot
import seaborn as sns
import datetime
import csv

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from shapely.geometry import Polygon, Point

### Data inspection & cleaning

In [2]:
#for desktop
#df = pd.read_csv(r'C:\Users\raymo\Downloads\AmsterdamWithLanguage.csv', encoding = 'latin1', sep = ',')

In [3]:
#for laptop
df = pd.read_csv(r'C:\Users\raymo\Downloads\AmsterdamWithLanguage.csv', encoding = 'latin1', sep = ',')

C:\Users\raymo\Anaconda3\envs\python36\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3570981 entries, 0 to 3570980
Data columns (total 16 columns):
created_at     object
id             int64
id_str         int64
user_id        int64
user_id_str    int64
user_name      object
tweet_text     object
language       object
place          object
longitude      float64
latitude       float64
sqrt_area      float64
type           object
url            object
media_url      object
time_stamp     int64
dtypes: float64(3), int64(5), object(8)
memory usage: 435.9+ MB

In [5]:
df['language'].value_counts()

nl     1106547
en     1088740
und      94068
es       64189
de       41628
tr       39403
fi       38358
pt       34254
fr       30339
it       19161
ru       17506
id       14563
in       14119
tl       13234
ar       10095
ja        7932
et        7542
pl        7284
sv        6955
da        6686
ht        6082
no        4693
vi        4270
sk        3817
sl        3634
cy        3085
lt        2939
lv        2935
ro        2623
hu        1981
is        1895
zh        1601
uk        1513
bg        1462
th        1437
ko        1142
el         643
ca         623
cs         587
fa         417
bs         366
hr         349
he         305
iw         295
hi         179
eu         152
sr         143
ne          86
ur          61
kn           6
ml           4
hy           4
ka           4
ps           3
ta           2
iu           1
am           1
bo           1
Name: language, dtype: int64

In [6]:
df.head(3)

,created_at,id,id_str,user_id,user_id_str,user_name,tweet_text,language,place,longitude,latitude,sqrt_area,type,url,media_url,time_stamp
0,Thu Sep 01 00:00:16 +0000 2011,109052916551262208,109052916551262208,272419626,272419626,SoundLoop,"#ReMix answer: untitled song, @azhmyfauzi 13/1...",NaN,"Amsterdam, North Holland",4.882822,52.362261,0.0,NaN,NaN,NaN,1314835216
1,Thu Sep 01 00:00:38 +0000 2011,109053009698361344,109053009698361344,272419626,272419626,SoundLoop,#ReMix [rehaocl & rkco tuo] various - 22 brass...,NaN,"Amsterdam, North Holland",4.882822,52.362261,0.0,NaN,NaN,NaN,1314835238
2,Thu Sep 01 00:08:19 +0000 2011,109054945529044992,109054945529044992,22217386,22217386,Freeda (Henk Veen),RT @henkveen nu naar bedje 6 uur op voor #inte...,NaN,"Amsterdam, North Holland",4.929879,52.365195,0.0,NaN,NaN,NaN,1314835699

In [7]:
df.tail(3)

,created_at,id,id_str,user_id,user_id_str,user_name,tweet_text,language,place,longitude,latitude,sqrt_area,type,url,media_url,time_stamp
3570978,Wed Apr 10 23:55:33 +0000 2019,1116127609643864065,1116127609643864065,45151855,45151855,Xiaui Macagba,"One of the canals of Amsterdam @ Amsterdam, Ne...",en,"Amsterdam, The Netherlands",4.900100,52.377700,0.0,NaN,NaN,NaN,1554940533
3570979,Thu Apr 11 00:17:22 +0000 2019,1116133098515832833,1116133098515832833,249596574,249596574,Diego A. GutiÃ©rrez,#Amsterdam Centraal ð³ð±ð en Amsterdam ...,nl,"Amsterdam, Holanda",4.898788,52.376974,0.0,NaN,NaN,NaN,1554941842
3570980,Thu Apr 11 00:18:25 +0000 2019,1116133365319643138,1116133365319643138,22509578,22509578,Chimera âª Ã¸ lll Â·o,"Rijksmuseum, Amsterdam â¤ï¸\n.\n.\n.\n#later...",nl,"Amsterdam, Nederland",4.885380,52.359950,0.0,NaN,NaN,NaN,1554941905

### Remove bots from dataset

In [8]:
df['user_id'].value_counts()

272419626             321157
186899860              74308
550261599              43427
87496277               41275
291158798              30220
19140633               16757
1020496418             14903
15619253               14268
124576255              11627
59093441               11339
278708054              11005
1568451847             10595
3375579785              9925
270963788               8597
15536268                7832
208056970               7798
490558355               7654
601196289               7208
88039815                7024
999538596               7008
863162563               6861
168489388               6721
135668330               6308
39748554                6216
17519493                6074
34236869                5754
2596544793              5649
2119871                 5644
191092262               5528
330326882               5479
                       ...
41100622                   1
355176687                  1
183682418                  1
485848452                  1
89603075                   1
764146654903545856         1
343184824                  1
351763909                  1
15354068                   1
2598934072                 1
443231823                  1
66720252                   1
90889841                   1
288212626                  1
103721777                  1
1156214995                 1
1173017534                 1
82624189                   1
392862647                  1
195707820                  1
23825301                   1
15502197                   1
107020085                  1
102809405                  1
52473663                   1
23903091                   1
2153916270                 1
1575255973                 1
53381941                   1
364866910                  1
Name: user_id, Length: 275517, dtype: int64

In [ ]:
df[df.user_name == 'Sol Tempore'].head()

,created_at,id,id_str,user_id,user_id_str,user_name,tweet_text,language,place,longitude,latitude,sqrt_area,type,url,media_url,time_stamp
70,Thu Sep 01 04:12:01 +0000 2011,109116272142331904,109116272142331904,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,"Amsterdam, North Holland",4.9,52.3667,0.0,NaN,NaN,NaN,1314850321
1656,Fri Sep 02 04:14:00 +0000 2011,109479161298554880,109479161298554880,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1314936840
3056,Sat Sep 03 04:15:01 +0000 2011,109841803154427904,109841803154427904,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1315023301
4534,Sun Sep 04 04:17:01 +0000 2011,110204694885957633,110204694885957633,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1315109821
7034,Tue Sep 06 04:21:01 +0000 2011,110930475605954560,110930475605954560,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1315282861

In [ ]:
### Manually inspect user ids for bots
df[df.user_id ==215292728].head(10)

,created_at,id,id_str,user_id,user_id_str,user_name,tweet_text,language,place,longitude,latitude,sqrt_area,type,url,media_url,time_stamp
70,Thu Sep 01 04:12:01 +0000 2011,109116272142331904,109116272142331904,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,"Amsterdam, North Holland",4.9,52.3667,0.0,NaN,NaN,NaN,1314850321
1656,Fri Sep 02 04:14:00 +0000 2011,109479161298554880,109479161298554880,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1314936840
3056,Sat Sep 03 04:15:01 +0000 2011,109841803154427904,109841803154427904,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1315023301
4534,Sun Sep 04 04:17:01 +0000 2011,110204694885957633,110204694885957633,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1315109821
7034,Tue Sep 06 04:21:01 +0000 2011,110930475605954560,110930475605954560,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1315282861
8390,Wed Sep 07 04:22:00 +0000 2011,111293114823622656,111293114823622656,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1315369320
9866,Thu Sep 08 04:24:01 +0000 2011,111656007641477120,111656007641477120,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1315455841
11483,Fri Sep 09 04:26:00 +0000 2011,112018896889978880,112018896889978880,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1315542360
13165,Sat Sep 10 04:28:01 +0000 2011,112381791029039104,112381791029039104,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1315628881
14795,Sun Sep 11 04:29:00 +0000 2011,112744428032114688,112744428032114688,215292728,215292728,Sol Tempore,"Good morning, Amsterdam, Netherlands! Dawn 06:...",NaN,Amsterdam,4.9,52.3667,0.0,NaN,NaN,NaN,1315715340

In [ ]:
#delete user_ids which are bots
df = df[(df.user_id !=272419626) & (df.user_id !=186899860) & (df.user_id !=550261599) & (df.user_id !=291158798) 
        &(df.user_id !=19140633) &(df.user_id !=278708054) &(df.user_id !=3375579785) &(df.user_id !=208056970) & 
        (df.user_id !=88039815) & (df.user_id !=168489388 ) & (df.user_id !=191092262) & (df.user_id !=215292728)]

In [ ]:
df.count()

created_at     3034715
id             3034715
id_str         3034715
user_id        3034715
user_id_str    3034715
user_name      3031986
tweet_text     3034715
language       2394946
place          3030610
longitude      3034715
latitude       3034715
sqrt_area      3034715
type            281481
url             281481
media_url       281481
time_stamp     3034715
dtype: int64

### Drop duplicate ID's

In [ ]:
df['id'].value_counts()

524624155334148096     3
304686731834302464     2
375492984563064832     2
489550634279239680     2
502951512159817728     2
247075834039513088     2
379216576463261696     2
503971324638027777     2
338658582327349248     2
419761488212275200     2
1098134281807847424    2
415810501147639808     2
358412371775062017     2
368110441253187584     2
420265099832877056     2
351621266559602689     2
370643824147959808     2
502875244810743808     2
1099325561829126145    2
555876859112456192     2
384917490167742464     2
389132768103649280     2
311500878672711680     2
342716775529594880     2
329166744075763712     2
352529091179724800     2
423507497627164672     2
352452187693133824     2
379650934223421440     2
385314350346412032     2
                      ..
494163181485690880     1
559732638102323205     1
274844701847343105     1
952719620854747137     1
310820715463065600     1
706430185512542208     1
451664014402400256     1
415529700640178176     1
568148855298109440     1
539719846569971712     1
274897966593093632     1
559821006781812736     1
884142771845648384     1
202822737100677121     1
574378903244050432     1
1109529558737448965    1
583205888669908992     1
454286991270883328     1
610591970835218432     1
292043386662313984     1
415529792587710464     1
202752283941945345     1
774682793053974528     1
202840233123917824     1
1017780580069584896    1
379694459921108993     1
382984195577884672     1
559785640951549954     1
371287922022297600     1
181340278207164418     1
Name: id, Length: 3034020, dtype: int64

In [ ]:
df = df.drop_duplicates(subset='id', keep="first")

In [ ]:
df.info()

### Data transformation and descriptive statistics

In [ ]:
df['created_at'] = pd.to_datetime(df['created_at'], format='%a %b %d %H:%M:%S +0000 %Y')

In [ ]:
### transform from GMT to UTC by adding one hour
#df['created_at'] = df['created_at'] + datetime.timedelta(hours=1)

In [ ]:
#remove 2011 and 2019 from dataframe
start_date = '01-01-2012'
end_date = '01-01-2019'
mask = (df['created_at'] >= start_date) & (df['created_at'] < end_date)
df = df.loc[mask]

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
def get_day_of_week(day):
    weekdays = {
        0: 'Monday',
        1: 'Tuesday',
        2: 'Wednesday',
        3: 'Thursday',
        4: 'Friday',
        5: 'Saturday',
        6: 'Sunday'
    }
    return weekdays[day]

def get_season(month):
    months = {
        1: 'Winter',
        2: 'Winter',
        3: 'Spring',
        4: 'Spring',
        5: 'Spring',
        6: 'Summer',
        7: 'Summer',
        8: 'Summer',
        9: 'Autumn',
        10: 'Autumn',
        11: 'Autumn',
        12: 'Winter',
    }
    
    return months[month]

df['Year'] = df.created_at.dt.year
df['Month'] = df.created_at.dt.month
df['Day'] = df.created_at.dt.day
df['Hour'] = df.created_at.dt.hour
df['DayOfWeek_nr'] = df.created_at.dt.dayofweek
df['DayOfWeek'] = df.created_at.dt.dayofweek.apply(lambda x: get_day_of_week(x))
df['YearMonth'] = pd.to_datetime(df['created_at']).dt.to_period('M')
df['Season'] = df.Month.apply(get_season)

In [ ]:
#start_date = '09-01-2013'
#end_date = '09-08-2013'
#mask = (df['created_at'] > start_date) & (df['created_at'] <= end_date)
#df2 = df.loc[mask]
#df2.id = df.id.astype(str)
#df2.id_str = df.id_str.astype(str)
#df2.to_csv(r'C:\Users\raymo\Downloads\AmsterdamSeptember2013-09-01.csv', index=False, quotechar='"', quoting=csv.QUOTE_NONNUMERIC)
#df2.info()

In [ ]:
#only to set style for matplotlib plots
sns.scatterplot(x='Hour',y='created_at',data=df)
sns.set(style="darkgrid")
#plt.show()

In [ ]:
df.groupby('Hour').agg({'id':'count'}).rename(columns={'id':'Tweets per hour'}).plot(title = 'Distribution of tweets per hour', kind = 'bar', color = 'royalblue', legend = None)
plt.xlabel('Hour')
plt.ylabel('Number of Tweets')
plt.tight_layout()
plt.savefig('Distribution of tweets per hour')
plt.show()

In [ ]:
df.groupby('Year').agg({'id':'count'}).rename(columns={'id':'Tweets per year'}).plot(title = 'Distribution of tweets per year', kind = 'bar', color = 'royalblue', legend = None)
plt.ylabel('Number of Tweets')
plt.tight_layout()
plt.savefig('Distribution of tweets per year')
plt.show()

In [ ]:
ax = df.groupby('DayOfWeek_nr').agg({'id':'count'}).plot(title = 'Distribution of tweets per day of the week', kind = 'bar', color = 'royalblue', legend = None)
plt.xlabel('Weekday')
plt.ylabel('Number of Tweets')
ax.set_xticklabels(['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'])
plt.tight_layout()
plt.savefig('Distribution of tweets per day of the week')
plt.show()

In [ ]:
df['DayOfWeek'].value_counts()

In [ ]:
ax = df.groupby('Month').agg({'id':'count'}).plot(title = 'Distribution of tweets per month', kind = 'bar', color = 'royalblue', legend = None)
plt.xlabel('Month')
plt.ylabel('Number of Tweets')
ax.set_xticklabels(['January','February','March','April','May','June','July', 'August', 'September', 'October', 'November', 'December'])
plt.tight_layout()
plt.savefig('Distribution of tweets per month')
plt.show()

In [ ]:
ax = df.groupby('Season').agg({'id':'count'}).plot(title = 'Distribution of tweets per season', kind = 'bar', color = 'royalblue', legend = None)
plt.xlabel('Season')
plt.ylabel('Number of Tweets')
plt.tight_layout()
plt.savefig('Distribution of tweets per Season')
plt.show()

### Distinguish tourists from residents

In [ ]:
user_date_ranges_df = df.groupby('user_id').agg({
    'created_at': ['min','max'],
    'tweet_text': ['count']
}).reset_index()

# time difference from first tweet to last tweet
user_date_ranges_df['diff'] = user_date_ranges_df['created_at']['max'] - user_date_ranges_df['created_at']['min']

user_date_ranges_df.columns = ['user_id','min','max','count','diff']
user_date_ranges_df = user_date_ranges_df.drop(columns=['min','max'])

# average number of tweets per day
user_date_ranges_df['freq'] = user_date_ranges_df['count'] / (user_date_ranges_df['diff'].dt.days)
user_date_ranges_df['freq'].replace(np.inf, 0, inplace=True)

In [ ]:
df_merged = df.merge(user_date_ranges_df, how='left', on='user_id')

In [ ]:
df_merged.sample(5)

In [ ]:
df_merged['is_tourist'] = (df_merged['diff'] < pd.Timedelta('14 days'))

In [ ]:
df_tourist = df_merged[df_merged.is_tourist == True]
df_not_tourist = df_merged[df_merged.is_tourist == False]

In [ ]:
df_tourist.info()

In [ ]:
# Also create dataset with ENG only for sentiment analysis

In [ ]:
df_tourist_en = df_tourist[df_tourist.language == 'en']

In [ ]:
df_tourist_en.info()

### Sentiment Analysis

In [ ]:
%%capture
analyser = SentimentIntensityAnalyzer()
df_tourist_en['neg'], df_tourist_en['neu'], df_tourist_en['pos'], df_tourist_en['compound'] = zip(
    *df_tourist_en['tweet_text'].apply(
        lambda x: list(analyser.polarity_scores(x).values())
    )
)

In [ ]:
def get_sentiment_label(compound):
    if(compound >= 0.05):
        return 'pos'
    elif(compound <= -0.05):
        return 'neg'
    else:
        return 'neu'

df_tourist_en['polarity'] = df_tourist_en['compound'].apply(lambda x: get_sentiment_label(x))

In [ ]:
df_tourist_en.polarity.value_counts()

In [ ]:
df_tourist_en['polarity'].astype(str)

In [ ]:
df_tourist_en['compound'].value_counts()

In [ ]:
df_tourist_en.boxplot(column=['compound'], by=['DayOfWeek'], figsize=(15,10))

In [ ]:
boxplot = df_tourist_en.boxplot(column='compound', 
                     fontsize = 15,grid = True, vert=True,figsize=(10,10,))
plt.ylabel('Range')

In [ ]:
df_tourist_en[(df_tourist_en.polarity =='pos')]

### Geospatial analysis

In [ ]:
df_tourist['type'].fillna(0, inplace=True)
gdf = geopandas.GeoDataFrame(
    df_tourist, geometry=geopandas.points_from_xy(df_tourist.longitude, df_tourist.latitude))

In [ ]:
gdf.sample(5)

In [ ]:
gdf['type'].head(5)

In [ ]:
gdf.crs = {'init' :'epsg:4326'}
gdf = gdf.to_crs(epsg=3857)

In [ ]:
gdf.info()

In [ ]:
%%capture
# %%capture ignores warnings
gdf['Longitude'] = gdf.geometry.apply(lambda pnt: pnt.x)
gdf['Latitude'] = gdf.geometry.apply(lambda pnt: pnt.y)

In [ ]:
ax = gdf.plot(figsize=(10, 10), alpha=0.5, edgecolor='k')
contextily.add_basemap(ax, url=contextily.sources.ST_TERRAIN)

In [ ]:
def plot_map(data):
    """ Takes a GeoPandas.DataFrame as input """
    fig, ax = plt.subplots(1,1,figsize=(10,10))

    n_levels = 1000
    alpha_level = 0.5

    sns.kdeplot(
        data.Longitude, 
        data.Latitude,
        bw = 'scott',
        shade=True, 
        cmap='jet',
        kernel='gau',
        n_levels=n_levels,
        ax = ax,
        alpha=alpha_level,
        legend = True,
        shade_lowest = True
        #gridsize = 200
    )

    for i in range(len(ax.collections)-10):
        ax.collections[i].set_alpha(min(i/n_levels, alpha_level))

    contextily.add_basemap(ax, url=contextily.sources.ST_TERRAIN)
    
    #ax.set_ylim(6863000, 6869500)
    #ax.set_xlim(541000, 547500)

    #plt.axis('off')
    return ax

### Draw plot by selecting year (no arguments means all)

In [ ]:
gdf[gdf.created_at.dt.year == 2018].latitude.value_counts()

In [ ]:
gdf[gdf.created_at.dt.year == 2018].longitude.value_counts()

In [ ]:
df['longitude'] = df['longitude'].astype(str)
df['latitude'] = df['latitude'].astype(str)
df['latandlon'] = df['latitude'] +' '+ df['longitude']

In [ ]:
df['latandlon'].value_counts()

In [ ]:
df_checkbot = df[(df.latandlon =='52.3731 4.8922')]

In [ ]:
df_checkbot.head(5)

In [ ]:
df_checkbot.tail(5)

In [ ]:
gdf['longitude'] = gdf['longitude'].astype(str)
gdf['latitude'] = gdf['latitude'].astype(str)
gdf['latandlon'] = gdf['latitude'] +' '+ gdf['longitude']

In [ ]:
gdf['latandlon'].value_counts()

In [ ]:
gdf_checkbot = gdf[(gdf.latandlon =='52.3731 4.8922')]

In [ ]:
gdf_checkbot.head(6)

In [ ]:
gdf_checkbot.tail(5)

In [ ]:
gdf[gdf.created_at.dt.year == 2012].sqrt_area.value_counts()

In [ ]:
#ax = plot_map(gdf)#[gdf.created_at.dt.year == 2012])

In [ ]:
ax = plot_map(gdf[gdf.created_at.dt.year == 2012])

In [ ]:
ax = plot_map(gdf[gdf.created_at.dt.year == 2018])

### Select only attachments and plot gdf_attachments

In [ ]:
gdf['type'].value_counts()

In [ ]:
gdf_attachment = gdf.loc[gdf['type'] != 0]

In [ ]:
gdf_attachment.info()

In [ ]:
gdf_attachment['type'].head(5)

In [ ]:
plot_map(gdf_attachment[gdf_attachment.created_at.dt.year == 2012])